#board {
    border: solid cornflowerblue 6px;
    background-image: url("../src/styles/2-05.png");
    background-size: cover;
}

h1 {
    color:#b5651d;
    text-align: center;
}

/* this is the main div */
#main {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    background-color: lightblue;
}

#intro {
    border: lightblue 2px;
    text-align: center;
}





/* some updates I would like to fix
2. take only faces for the dogs
3. add in info around the screen
4. create a scoring system*/



